<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--修改下对应的mapper名字 -->
<mapper namespace="com.kuang.dao.FavouriteMapper">

<select id="findProductFavouriteTimes" resultType="java.lang.Integer">
    select count(*) from ssm.tab_favorite where rid = #{productId}
</select>
    <select id="findUserIsFavourite" resultType="Favourite">
        select * from  ssm.tab_favorite where uid=#{uid} and rid =#{productId}
    </select>
<delete id="deleteFavourite" >
    delete from ssm.tab_favorite where uid=#{uid} and rid =#{productId}
</delete>
<insert id="appendFavourite">
    insert into ssm.tab_favorite(rid,date,uid) values (#{productId},#{date},#{uid})
</insert>
<select id="findUserFavouriteProId" resultType="java.lang.Integer" >
    select rid from ssm.tab_favorite where uid = #{uid}
</select>
<select id="findUserFavouriteTopId" resultType="java.lang.Integer">
   SELECT rid FROM  ssm.tab_favorite  GROUP BY rid ORDER BY COUNT(*) DESC limit 0,#{num}
</select>
</mapper>